@import "variable";

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #EBEEF5 url(@/assets/image/background.svg) no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}
